body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(223, 201, 243, 0.918);
    font-size: 25pt;
    
}
.quizTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
aside {
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    padding-left: 80px;
}

#start-button {
    /* changed cursor appearance to signify when hovering over a button */
    cursor: pointer;
    font-size: 24px;
    background-color: green;
    color: white;
    margin-bottom: 100px;
}

#save-button {
    cursor: pointer;
    font-size: 24px;
}

/* added button styling and cursor text hovor */
#nameEntryInput {
    cursor:text;
    font-size: 24px;
}

.btn {
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 25px;
    color: rgb(8, 6, 6);
}

/* hide certain elements with 'hide' tag */
.hide {
    display: none;
}