* {
    box-sizing: border-box;
    text-decoration: none;
    
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    background-color: rgba(22, 80, 90, 0.404);
    
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #bddcfae7;
    color: #fff;
  }
  .main-header:visited {
    color: blue;
  }


  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  .card img {
    width: 100%;
    min-width: 400px;
  }
  

  .javascriptImage {
    background-image: url(/assets/images/JavaScript_code_l_small.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 390px;
    width: 100%;
  }

  #backButton {
    font-size: 19pt;
    font-weight: bold;
    cursor: pointer;
    background-color: #bddbfa60;
    border-width: 1;
    border-radius: 25pt;
    width: 275px;
    height: 50pt;
    
  }
  .backButtonA {
    color: rgb(7, 43, 46);
  }
  .backButtonA:visited {
    color: rgb(7, 43, 46);
  }
  


  footer {
    color: rgb(193, 96, 202);
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
  }